html
{
  font-family: Verdanna, sans-serif;
}

header
{
font-size: 25px;
text-align: center;
}
.titre
{
  background-color: #CCDBFE;
  box-shadow: 5px 5px 15px 5px;
}
h2
{
  font-size: 22px;
  font-style: italic;
  margin-left: 25px;
  color: #00263C;
}

.footer
{
  text-align: center;
  border-top: black 1px solid;
  background-color: #CCDBFE;
  }
.partie1
{
  background-color: #fff;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
}

.partie2
{
  display: inline-block;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  margin-top: 20px;
}

.image
{
  text-align: center;
}

.image img {
  display: inline;
}

.video
{
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  margin: 20px 0px 20px 0px;
}
.video iframe
{
margin-left: 120px;
}

.container
{
  max-width: 800px;
  margin-left: 250px;
}

body
{
  background-color: #538AA9;

}

.footer ul
{
  list-style-type: none;
}
a:hover
{
  color: red;
}
